<div class="header">
  <span style="margin: 0 10px;">
    <%= link_to "Создать пост", new_post_path, class: "blue" %>
  </span>
  <span style="margin: 0 10px;">
    <%= link_to "Посты", posts_path, class: "blue" %>
  </span>
  <% if current_user && !current_user.admin? %>
    <span style="margin: 0 10px;">
      <%= link_to "Мои черновики", my_drafts_posts_path, class: "blue" %>
    </span>
  <% end %>


  <% if current_user && current_user.admin? %>
    <span style="margin-right: 20px;">
      <%= link_to "Создать админа", new_user_path(admin: true), class: "blue" %>
    </span>
  <% end %>

  <% if !current_user.present? %>
    <span style="float: right; margin-right: 20px;">
      <%= link_to "Зарегистрироваться", sign_up_path, class: "white" %>
    </span>
  <% end %>
  <span style="float: right; margin-right: 20px;">
    <% if current_user.present? %>
      <span style="margin: 0 15px;"><%= current_user.login %></span>
      <%= link_to "Выйти", logout_path, method: :delete, class: "white" %>
    <% else %>
      <%= link_to "Войти", log_in_path, class: "white" %>
    <% end %>
  </span>
</div>